@model User

@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}
<div class="accountiner" style="background-color:rgba(239, 239, 239, 0.80); border-radius:10px; padding:20px; width:300px;">
    <center><h4>Register Account</h4></center>
    <form asp-controller="Users" asp-action="Register">
        <div asp-validation-summary="None" class="text-danger"></div>
        <div class="form-group">
            <label for="text">Name:</label>
            <input type="text" class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success btn-block">Register</button>
        <a class="btn btn-primary btn-block" style="border-style:hidden; color:aliceblue;" href="/Users/Login">Login</a>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}