@{
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<div class="alert-success" style="background-color:rgba(239, 239, 239, 0.80); border-radius:10px; padding:20px; color:dimgrey">
    <h2>Congratulations your account has been successfully created! Click <a href="../Users/Login">here</a> to log into the system...</h2>
</div>

