<div class="row">
    <div class="col-lg-6">
        <a class="btn btn-block" style="border-style:hidden; color:aliceblue; background-color:cornflowerblue" href="/Users/Login">Entrar no Sistema</a>
        <!--<button type="button" class="btn btn-block btn-primary"><a href="/Users/Login" style="color:aliceblue">Entrar no Sistema</a></button>-->
    </div>
    <div class="col-lg-6">
        <a class="btn btn-success btn-block" style="border-style:hidden; color:aliceblue;" href="/Users/Register">Register Account</a>
        <!--<button type="button" class="btn btn-block btn-success"><a href="/Users/Register" style="color:aliceblue">Register Account</a></button>-->
    </div>
    </div>

