
@{
    ViewData["Title"] = "Menu";
}

<div class="row col-lg-12">

    <div class="col-lg-4 text-center">
        <a href="../Accounts/Index">
            <img src="~/img/1.jpg" />
            <h3>Accounts</h3>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="../Expenses/Index">
            <img src="~/img/3.jpg" style="padding-top:30px" />
            <h3>Expenses</h3>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="../Revenues/Index">
            <img src="~/img/5.jpg" width="250" />
            <h3>Revenues</h3>
        </a>
    </div>
</div>
<br /><br /><br />
<div class="row col-lg-12">
    <div class="col-lg-4 text-center">
        <a href="../Accounts/Records">
            <img src="~/img/2.jpg" width="230" />
            <h3>Records</h3>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="../Accounts/Dashboard">
            <img src="~/img/4.jpg" width="250" style="padding-top:30px" />
            <h3 style="padding-top:5px">Dashboard</h3>
        </a>
    </div>
    <div class="col-lg-4 text-center">
        <a href="../Home/Help">
            <img src="~/img/6.jpg" width="150" style="padding-top:25px" />
            <h3>Contact</h3>
        </a>
    </div>

</div>

